<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
  

    <mappers>  
        <mapper resource="resource/config/mapping/WxAccessTokenMapper.xml" />  
        <mapper resource="resource/config/mapping/WxAuthorizeMapper.xml" />  
        <mapper resource="resource/config/mapping/WxUsersMapper.xml" />  
    </mappers>  
  
</configuration>   